:root{
    --green:#16a085;
    --black:#444;
    --light-color:#777;
    --border:.2rem solid var(--green);
    --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
}
*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}


html{
    font-size: 80.5%;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

section:nth-child(even){
    background: #f5f5f5;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 5rem;
    
}

.heading span{
    text-transform: uppercase;
    color:var(--green);
}

.header{
    
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding:10px;

}
.header a{
    text-decoration: none;
}

.header .logo{
    font-size: 2rem;
    color: rgb(9, 101, 96);
}
.header .logo i{
    color: rgb(235, 5, 5);
}
.header .navbar a{
    font-size: 1.2rem;
    margin: 0px 10px;
    color: rgb(9, 101, 96);
}
.header .navbar a:hover{
    color: rgb(235, 5, 5);
}
#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--green);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}
    

.home{
    display: flex;
    align-items: center;
    justify-content: start;
    gap:1.5rem;
    padding-top: 5rem;
}

.home .image{
    flex:1 1 45rem;
}

.home .image img{
    width: 90%;
}

.home .content{
    flex:1 1 45rem;
}
.home .content h3{
    font-size:3rem;
    color:black;
    line-height: 1.8;
}

.home .content p{
    font-size: 1.7rem;
    color:rgb(9, 101, 96);
    line-height: 1.8;
    padding: 1rem 0;
}
.icons-container{
    display: grid;
    gap:5rem;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    box-sizing: border-box;
}

.icons-container .icons{
    text-align: center;
    padding: 2rem;
    border:var(--border);
    border-radius: .5rem;
    padding: 2rem;
    
}

.icons-container .icons i{
    font-size: 2rem;
    color:var(--green);
    padding-bottom: .7rem;
    text-decoration: none;
    box-shadow: var(--box-shadow);
    
}

.icons-container .icons h3{
    font-size: 3.5rem;
    color:var(--black);
    padding: .5rem 0;
    
}

.icons-container .icons p{
    font-size: 1.7rem;
    color:var(--light-color);
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .3rem;
    padding-left: 1rem;
    border:var(--border);
    border-radius: .5rem;
    color:var(--green);
    cursor: pointer;
    font-size: 1.2rem;
    background: #fff;
    box-shadow: var(--box-shadow);
}
.btn span{
    padding:.7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color:#fff;
    margin-left: .5rem;
}

.btn:hover{
    background: var(--green);
    color:#fff;
}

.btn:hover span{
    color: var(--green);
    background:#fff;
    margin-left: 1rem;
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1rem;
}

.services .box-container .box{
    background:#fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    padding: 1.5rem;
}

.services .box-container .box i{
    color: var(--green);
    font-size: 3rem;
    padding-bottom: .2rem;
}

.services .box-container .box h3{
    color: var(--black);
    font-size: 2rem;
    padding:.05rem 0;
}

.services .box-container .box p{
    color: var(--light-color);
    font-size: 1.2rem;
    line-height: 2;
}
.about{
    align-items: center;
    justify-content: start;
    gap:1.5rem;
    padding-top: 5rem;
}
.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
}
.about .heading{
    
    font-size: 4.5rem;
}

.about .row .image{
    flex:1 1 30rem;

}

.about .row .image img{
    width: 90%;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    font-size:2rem;
    color:black;
    line-height: 1.8;
}

.about .row .content p{
    color: var(--light-color);
    padding:1rem 0;
    font-size: 1.5rem;
    line-height: 1.8;
}
.book .row{
    display: flex;
    align-items: center;
    
}
 
.book .row .image{
    width:50%;
}


.book .row form{
    width: 40%;
    background: #fff;
    border:var(--border);
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 100%;
    height: auto;
    box-shadow: var(--box-shadow);
    
    
}

.book .row form h3{
    color:var(--black);
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.book .row form .box{
    width: 100%;
    margin:.7rem 0;
    border-radius: .5rem;
    border:var(--border);
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    padding: 1rem;
}

.book .row form .btn{
    padding:1rem 4rem;
    font-weight: bold;
    font-size: 15px;
}
.doctors .box-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
}

.doctors .box-container .box{
    text-align: center;
    background:#fff;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:1rem;
}

.doctors .box-container .box img{
    height: 15rem;
    border:var(--border);
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.doctors .box-container .box h3{
    color:var(--black);
    font-size: 2.5rem;
}

.doctors .box-container .box span{
    color:var(--green);
    font-size: 1.5rem;
}

.doctors .box-container .box .share{
    padding-top: 1rem;
}

.doctors .box-container .box .share a{
    height: 56px;
    width: 55px;
    line-height: 4.5rem;
    font-size: 2rem;
    color:var(--green);
    border-radius: .5rem;
    border:var(--border);
    margin:.3rem;
    
}
.doctors .box-container .box .share a:hover{
    background:var(--green);
    color:#fff;
    box-shadow: var(--box-shadow);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:8rem;
}

.footer .box-container .box h3{
    font-size: 2rem;
    color:var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.3rem;
    color:var(--light-color);
    padding: .5rem 0;
    text-decoration: none;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--green);
}

.footer .box-container .box a:hover i{
    padding-right:1.5rem;
}

.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
    color:var(--light-color);
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span{
    color:var(--green);
}

